/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --header-text-color: #db00ff;
  --accent-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__lamp {
  display: flex;
}

.theme_dark .decorated-zone::before,
.theme_dark .decorated-zone::after,
.theme_dark .header__theme-menu-button,
.theme_dark .section__title {
  color: var(--accent-color, #ff0070);
}

.theme_dark .title-decor {
  color: var(--bg-color, #000028);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --header-text-color: #db00ff;
    --accent-color: #ff0070;
    --bg-image: url(../images/cover-image-dark.png);
    
    .header__lamp {
      display: flex;
    }
    
    .decorated-zone::before,
    .decorated-zone::after,
    .header__theme-menu-button,
    .section__title {
      color: var(--accent-color, #ff0070);
    }
    
    .title-decor {
      color: var(--bg-color, #000028);
    }
  }
}
