/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  
  --bg-color: #ffc2e6;
  --text-color: #353430;
  --header-text-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --bg-image: url(../images/cover-image-light.png);
  
}

.page.theme_light .decorated-zone::before,
.page.theme_light .decorated-zone::after,
.page.theme_light .title-decor,
.page.theme_light .section__title,
.page.theme_light .header__theme-menu-button {
  color: var(--text-color, #353430);
}

.page.theme_light .header__lamp {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --bg-color: #ffc2e6;
    --text-color: #353430;
    --header-text-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --bg-image: url(../images/cover-image-light.png);
  }
  
  .decorated-zone::before,
  .decorated-zone::after,
  .title-decor,
  .section__title,
  .header__theme-menu-button {
    color: var(--text-color, #353430);
  }
  
  .header__lamp {
    display: none;
  }
  
}

